# Virtual Environment
venv/
ENV/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDEs
.vscode/
.idea/
.claude/

# OS Files
.DS_Store
Thumbs.db

# Large binaries or temporary files
awscliv2.zip
aws/
acc.json
